@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Open Sans", "sans-serif";
  --font-open: "Open Sans", "sans-serif";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
